input {
    width: 50%;
}
ul {
    float: left;
    position:absolute;
    margin-left: 30px;
    width: 200px;
}
li {
    text-align: center;
}
body {
    /*border: 1px solid blue;*/
}
.container {

    /*border:1px solid green;*/
    margin:auto;
    width: 100%;
}
form {
    /*border: 1px solid red;*/
    display: block;
}
button{
    float:right;
}

header {
    font-size: 50px;
    text-align: center;
}
p ,#welcome,#state{
    text-align: center ;
    margin:30px auto;
}
header  h2 #result{
    color: red;
    margin:30px auto;

}
table {
    margin:30px auto;
}
table tr td {
    border: 1px solid black;
    display:inline-block;
}
td {
    height: 100px;
    width: 100px;
}

.icon-x {
    background-image: url(../images/icon-x.png);
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
}
.icon-o {
    background-image: url(../images/icon-o.png);
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
}
button {
    display:inline-block;
 }
